body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.discomm-nav {
  background: #7289DA;
  color: #FFFFFF !important;
}

.home-button {
  font-size: 3.125rem !important;
  margin-right: 12rem !important;
}

.login-button {
  background: #2C2F33 !important;
  color: #FFFFFF !important;
  border-radius: 25px;
}
