/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.discomm-nav {
  background: #7289DA;
  color: #FFFFFF !important;
}

.home-button {
  font-size: 3.125rem !important;
  margin-right: 12rem !important;
}

.login-button {
  background: #2C2F33 !important;
  color: #FFFFFF !important;
  border-radius: 25px;
}
*/
@import url('https://fonts.googleapis.com/css?family=Barlow');

.nav-container {
  position: absolute;
  width: 1440px;
  height: 105px;
  left: 0px;
  top: 0px;

  background: #7289DA;
}

.wrapper {
  margin: 0 auto;
  margin-left :515px;
  max-width: 857px;


}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end ;
  justify-content: space-between;
  height:120px;
}
.logo {
  position: absolute;
  width: 220px;
  height: 55px;
  left: 68px;
  top: 25px;
  
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}

.nav-items li{
  list-style: none;
  margin-right:0;
}

.nav-items li a{ 
  color: #FFFFFF;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 17pxs;
}

.login {
  background: #2C2F33;
}